<p>
	<strong>Title:</strong>
	<%= @track.title %>
</p>

<p>
	<strong>Location:</strong>
	<%= @track.location %>
</p>

<p>
	<strong>Album:</strong>
	<%= @track.album.nil? ? "Undefined" : @track.album.title %>
</p>



<%= link_to 'Back', tracks_path %>