<p>
	<strong>Title:</strong>
	<%= @album.title %>
</p>

<p>
	<strong>Artist:</strong>
	<%= @album.artist.nil? ? "Undefined" : link_to(@album.artist.name,@album.artist) %>
</p>

<p>
	<strong>Tracks:</strong><br/>
	<% @album.tracks.each {|track| %>
		<%= link_to track.title,track %><br/>
	<% } %>
</p>

<%= link_to 'Back', albums_path %>
