#musicplayer .button{
	background-color:transparent;
	width:0%;
	padding:5%;
	margin:1%;
    box-sizing: border-box;
	float:left;
	position:relative;
}

#musicplayer .button.first{
	margin-left:33%;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#musicplayer_progress, #musicplayer_progress div {
	width:100%;
	height:20px;
	background-color:gray;
	margin:0;
	padding:0;
	border:none;
	position:relative;
}
div#musicplayer_complete{
	width:0;
	background-color:green;
	float:left;
}
div#musicplayer_remaining{
	background-color:red;
	float:left;
}

#musicplayer_playlist .playlist_item{
	display:none;
	width:100%;
	margin:2px 0px;
	background-color:blue;
}
#musicplayer_playlist .playlist_inner{
	font-size:20px;
	padding:10px 10px;
}

#musicplayer{
	max-width:640px;
}

#musicplayer.centre{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
